@font-face {
    font-family: dmsans-bold;
    src: url(./fonts/DMSans-Bold.ttf);
}

@font-face {
    font-family: dmsans-regular;
    src: url(./fonts/DMSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    font-size: 100%;
    background: #f4f4f4
  }

  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    margin-top: -100 px;
  }

  .cabecalho-logo {
    height: 200px;
  }

  .cabecalho-menu {
    display: flex;
    gap: 20px;
  }

  .cabecalho-menu-item {
    font-family: dmsans-bold;
    color: black;
    font-weight: 400;
    font-size: 15px;
  }

  .cabecalho-pesquisar {
    height: 30px;
  }

  .cabecalho-carrinho {
    height: 30px;
  }

  .conteudo {
    margin-bottom: 10px;
  }

  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    gap: 30px;
  }

  .conteudo-principal-escrito-titulo {
    font-family: dmsans-bold;
    font-weight: 400px;
    font-size: 64px;
    color: black;
    margin-bottom: 32px;
    margin-top: -50px;
  }

  .conteudo-principal-escrito-subtitulo {
    font-family: dmsans-regular;
    font-weight: 200px;
    font-size: 19px;
    color: black;
    gap: 20px;
  }

  .conteudo-principal-escrito-botao {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-family: dmsans-regular;
    font-size: 20px;
    color: white;
    background-color: black;
    margin-top: 34px;
  }

  .conteudo-principal-escrito-botao:hover{
    background-color: grey;
  }

  .conteudo-principal-imagem {
    height: 800px;
  }
  
  .rodape {
    padding: 32px;
    border-top: 0.4px solid #000;
  }

  .rodape-imagem {
    height: 250px;
    display: block;
    margin: 0 auto;
    margin-top: -100px;
  }